.navbar-news {
  background-color: #000;
}

.navbar-news .navbar-brand {
  color: #ff6a00 !important;
}

.nav-news .nav-link {
  color: #fff !important;
  font-weight: 500;
  margin-right: 12px;
}

.nav-news .nav-link:hover {
  color: #ff6a00 !important;
}

.navbar-news input {
  background-color: #1c1c1c;
  border: none;
  color: #fff;
}

.navbar-news input::placeholder {
  color: #aaa;
}

.news-link {
  color: #000 !important;
  text-decoration: none;
}

.news-link:hover {
  color: #000;
  text-decoration: underline;
}