body {
  background-color: #f8f9fa;
  padding-top: 70px;
}

.card-title {
  font-size: 1.2rem;
}

.headline {
  height: 400px;
}

.headline .card-text {
  font-size: 1.8rem;
  font-weight: bold;
}

.headline .card-text {
  font-size: 1.1rem;
}

footer {
  width: 80%;
}