.navbar-news {
  background-color: #000;
}

.navbar-news .navbar-brand {
  color: #ff6a00 !important;
}

.nav-news .nav-link {
  color: #fff !important;
  font-weight: 500;
  margin-right: 12px;
}

.nav-news .nav-link:hover {
  color: #ff6a00 !important;
}

.navbar-news input {
  background-color: #1c1c1c;
  border: none;
  color: #fff;
}

.navbar-news input::placeholder {
  color: #aaa;
}

.news-link {
  color: #000 !important;
  text-decoration: none;
}

.news-link:hover {
  color: #000;
  text-decoration: underline;
}

.news-item {
  padding-bottom: 14px;
  margin-bottom: 14px;
  border-bottom: 1px solid #eaeaea;
}

.news-thumb {
width: 100%;
height: 85px;
object-fit: cover;
border-radius: 6px;
}

.news-title {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3;
  color: #000;
  margin-bottom: 4px;

display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient:vertical;
overflow: hidden;
}

.news-summary {
  font-size: 13px;
  line-height: 1.4;
  color: #555;
  margin-bottom: 6px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient:vertical;
  overflow: hidden;
}
