body {
  background-color: #f8f9fa;
}

.populer-box {
  background: white;
  padding: 15px;
  border-radius: 6px;
}

.populer-list li {
  margin-bottom: 10px;
  font-weight: 500;
}

.h6 {
  line-height: 1.3;
}